@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.eight-bit{
    font-family: 'Press Start 2P', cursive;    
}

body *{
    font-family: 'Press Start 2P', cursive;    
}

/*
    ********** Structure ***********
    
    You probably don't want to change this stuff, but you definitely can!
*/
#mute{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
#unmute{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/*Game screens */
#game{
    display: none;
}
#game-over{
    display: none;
}

/* Containers */
#game-contain{
    min-height: 545px;
    width: 100vw;
    height: 100vh;
}

#level-contain{
    padding-bottom: 10%;
}
.current-score{
    padding-bottom: 10%;    
}
#current-score-contain{
}
.points-earned{

}

.container-center{
    position: relative;
}
.sub-container-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* General */
.fraction, .top, .bottom {
    padding: 0 5px;    
}
.fraction {
    display: inline-block;
    text-align: center;    
}
.bottom{
    border-top: 1px solid;
    display: block;
    margin: auto;
    width: 10%;
    min-width: 80px;
}

/* Button defaults */
#refresh{
    z-index: 100;
}

.disabled{
    background: grey !important;
    color: #aaa !important;
}